<div class="f_single__lable">
  <input
    type="checkbox"
    name="f_lables"
    id="f_enhancement"
    value="enhancement"
  />
  <label for="f_enhancement">enhancement</label>
</div>
<div class="f_single__lable">
  <input type="checkbox" name="f_lables" id="f_bug" value="bug" />
  <label for="f_bug">bug</label>
</div>
<div class="f_single__lable">
  <input
    type="checkbox"
    name="f_lables"
    id="f_documentation"
    value="documentation"
  />
  <label for="f_documentation">documentation</label>
</div>
<div class="f_single__lable">
  <input type="checkbox" name="f_lables" id="f_critical" value="critical" />
  <label for="f_critical">critical</label>
</div>
<div class="f_single__lable">
  <input type="checkbox" name="f_lables" id="f_design" value="design" />
  <label for="f_design">design</label>
</div>
<div class="f_single__lable">
  <input type="checkbox" name="f_lables" id="f_other" value="other" />
  <label for="f_other">other</label>
</div>
