<div id="footer__outer">
  <div id="footer__inner">
    <div id="footer__ff">
      <p>&copy; Copyright 2024 by Vinayakmk19. &nbsp;</p>
    </div>
    <div id="footer__ss">
      <p>All rights reserved.</p>
    </div>
  </div>
</div>
