<div class="single__lable">
  <input type="checkbox" name="lables" id="enhancement" value="enhancement" />
  <label for="enhancement">enhancement</label>
</div>
<div class="single__lable">
  <input type="checkbox" name="lables" id="bug" value="bug" />
  <label for="bug">bug</label>
</div>
<div class="single__lable">
  <input
    type="checkbox"
    name="lables"
    id="documentation"
    value="documentation"
  />
  <label for="documentation">documentation</label>
</div>
<div class="single__lable">
  <input type="checkbox" name="lables" id="critical" value="critical" />
  <label for="critical">critical</label>
</div>
<div class="single__lable">
  <input type="checkbox" name="lables" id="design" value="design" />
  <label for="design">design</label>
</div>
<div class="single__lable">
  <input type="checkbox" name="lables" id="other" value="other" />
  <label for="other">other</label>
</div>
