#footer__outer {
  background: #101d2c;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 14px;
  color: #4126ba;
}

#footer__inner {
  display: flex;
  justify-content: center;
}

#footer__inner p {
  font-size: 0.9rem;
}
